# Environnement Virtuel
venv/
.venv/

# Fichiers de cache Python
__pycache__/
*.pyc

# Fichiers de test temporaires et résultats
resultat_cv.json
sample_cv.txt
*.pdf
static/temp_photo.png
BioProfile_Generated.pptx
sm/
uploads/
templates/*
!templates/BioProfile_OFF.pptx
!templates/BioProfile_OFF.jpeg
profiles/
# Configuration locale (Ollama / Environnement)
.env

static/temp_*.png
debug_extracted_text.txt
