# Environnement Virtuel
venv/
.venv/

# Fichiers de cache Python
__pycache__/
*.pyc

# Fichiers de test temporaires et résultats
resultat_cv.json
sample_cv.txt
*.pdf
static/temp_photo.png
BioProfile_Generated.pptx
sm/

# Configuration locale (Ollama / Environnement)
.env
